In [1]:
import pandas as pd
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error, r2_score
from sklearn.preprocessing import MinMaxScaler

In [2]:
data = { 'Bedrooms': [2, 3, 4, 3, 2, 4, 2, 3, 3, 4],
        'SquareFeet': [1200, 1500, 1700, 1300, 1100, 1600, 1150, 1400, 1350, 1800], 
        'Price': [150000, 200000, 220000, 180000, 155000, 210000, 160000, 190000, 175000, 230000] }

In [3]:
df = pd.DataFrame(data)

In [4]:
df

   Bedrooms  SquareFeet   Price
0         2        1200  150000
1         3        1500  200000
2         4        1700  220000
3         3        1300  180000
4         2        1100  155000
5         4        1600  210000
6         2        1150  160000
7         3        1400  190000
8         3        1350  175000
9         4        1800  230000

In [5]:
scaler = MinMaxScaler()

In [6]:
columns_to_scale = df.columns.difference(['Price'])

In [7]:
df[columns_to_scale] = scaler.fit_transform(df[columns_to_scale])
df

   Bedrooms  SquareFeet   Price
0       0.0    0.142857  150000
1       0.5    0.571429  200000
2       1.0    0.857143  220000
3       0.5    0.285714  180000
4       0.0    0.000000  155000
5       1.0    0.714286  210000
6       0.0    0.071429  160000
7       0.5    0.428571  190000
8       0.5    0.357143  175000
9       1.0    1.000000  230000

In [8]:
X = df[['Bedrooms','SquareFeet']] 
Y = df['Price']

In [9]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.2, random_state=42)

In [10]:
model = LinearRegression()    # Create a linear regression model

In [11]:
model.fit(X_train, Y_train)  # Fit the model to the training data

LinearRegression()

In [12]:
Y_pred = model.predict(X_test)   # Make predictions on the test data

In [13]:
mse = mean_squared_error(Y_test, Y_pred)   # Evaluate the model
r2 = r2_score(Y_test, Y_pred)
r2

0.6317430101130272

In [14]:
print(f"Mean Squared Error (MSE): {mse}")
print(f"R-squared (RÂ²): {r2}")

Mean Squared Error (MSE): 57540154.66983949
R-squared (RÂ²): 0.6317430101130272

In [15]:
new_data_point = pd.DataFrame({'Bedrooms': [3], 'SquareFeet': [1550]})          # Predict house price for a new data point
predicted_price = model.predict(new_data_point)
print(f"Predicted Price for New Data Point: {predicted_price[0]}")

Predicted Price for New Data Point: 71689878.0487805